body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

header h1 {
  margin: 0;
  font-size: 24px;
}

header nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}

header nav a:hover {
  color: #a2a2a2;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  height: 100vh;
}

.projects {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

section {
  width: 80%;
  padding: 40px;
  text-align: center;
}

section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

section p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.card {
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 12px 15px 0px rgba(0, 0, 0, 0.3);
}

.card h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.card p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
  width: 80%;
}

.card a {
  background-color: #333;
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  margin-top: 20px;
}

.card a:hover {
  background-color: #f2f2f2;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

form input, form textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}

form input[type="submit"]:hover {
  background-color: #f2f2f2;
  color: #333;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #333;
  color: #fff;
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  header h1 {
    font-size: 24px;
  }
  
  header nav a {
    font-size: 16px;
  }
  
  section {
    width: 90%;
  }
  
  .card {
    width: 250px;
    height: 350px;
  }
  
  form input, form textarea {
    width: 90%;
  }
}