footer {
  margin-top: 100px;
}

h2 {
  margin-top: 50px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-items: center;
}

.item-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  margin: 0 auto;
  overflow: hidden;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

h1 {
  margin: 0;
  font-size: 36px;
  text-transform: capitalize;
  letter-spacing: 2px;
  position: absolute;
}

main {
  max-width: 960px;
  margin: 80px auto 40px;
  padding: 20px;
}

section {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
}

.text-link {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
}

.text-link:hover {
  color: burlywood;
  border-color: burlywood;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
}

.footer-link:hover {
  color: burlywood;
  border-color: burlywood;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #fff;
  color: #333;
}

.card {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 300px;
  height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  padding: 30px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 767px) {
  .card {
    width: 250px;
    height: 300px;
  }
}

@media (max-width: 479px) {
  .card {
    width: 200px;
    height: 250px;
  }
}
